@import "../../config";

.contactBox {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
.fields {
  align-self: center;
  align-items: center;
  background-color: $bg-light;
  padding: 20px;
  border-radius: 3%;
  box-shadow: 10px 15px 15px $bg-third;
}
.field {
  background-color: rgba(255, 255, 255, 0.877);
}
