@import "../../config";

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contactBox {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
}
.fields {
  align-self: center;
  align-items: center;
  background-color: $bg-light;
  padding: 20px;
  border-radius: 3%;
  box-shadow: 10px 15px 15px $bg-third;
}
.field {
  background-color: rgba(255, 255, 255, 0.877);
}
.contactText {
  width: 40%;
  align-self: center;
}
.contactText h1 {
  font-size: 50px;
}
.contactText p {
  font-size: 20px;
  padding-top: 15px;
}

@media all and (max-width: 1350px) {
  .contact {
    flex-direction: column;
  }
  .contactBox {
    flex-direction: column;
    width: 100vw;
  }
  .contactText {
    flex-direction: column;
    width: 100vw;
  }
}
@media all and (max-width: 650px) {
  .contactBox {
    max-width: 500px;
  }
}
@media all and (max-width: 450px) {
  .contactBox {
    height: 100vh;
    width: 100vw;
  }
}
