@import "../../config";

.landing {
  background-image: $landing-bg;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.text {
  align-self: center;
  height: auto;
  width: 100%;
  font-size: 35px;
}
.landingNav a {
  text-decoration: none;
}
.landingNav {
  width: 30%;
  align-self: center;
  padding: 50px;
}
.landingNav p {
  font-size: 35px;
}
