.landing {
  background-image: url("../../assets/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
.landingNav a {
  text-decoration: none;
}
.landingNav {
  width: 50%;
}
