.skillsPage {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  text-align: center;
  padding: 20px;
  align-content: center;
  width: 95%;
}
h2 {
  font-size: 30px;
  padding: 10px;
}
.skills {
  width: 33%;
}
.resume {
  width: 33%;
}
.skillsText {
  width: 33%;
}
.skillsimg {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  padding: 5px;
  filter: brightness(70%);
}
.skillsimg:hover {
  transform: translateY(-5%);
  filter: brightness(100%);
  filter: saturate(200%);
}
.skillsText p {
  font-size: 20px;
  padding: 5px;
}
.resume img {
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 500px;
  padding: 10px;
  border-radius: 3%;
  opacity: 70%;
}
.resume img:hover {
  opacity: 100%;
  cursor: pointer;
}

@media all and (max-width: 1000px) {
  .skillsPage {
    flex-direction: column;
  }
  .skills {
    width: 100vw;
  }
  .resume {
    width: 100vw;
  }
  .skillsText {
    width: 100vw;
  }
}
