@import "config";
@import url("https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&family=Lexend+Zetta:wght@200&family=Plus+Jakarta+Sans:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  color: $accent-light;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  height: 100%;
  max-width: 100%;
  text-decoration: none;
  background-color: $bg-second;
  line-height: 1.5;
}
